* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'メイリオ', Meiryo, 'Hiragino Sans', 'ヒラギノ角ゴシック',
    'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #06c;
  text-decoration: none;
}

input,
textarea {
  border: none;
}

textarea {
  resize: none;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

button {
  border: none;
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
}
